/* first page */
.page#p1{ 
    text-align:center;
    background-image:none !important;
}

.page#p1:after{ display:none; }  

/*title page text blocks*/
.TitlePageName p {
	color: #ebeae4;
	font-size: 54px;
	font-family: Spectral;
	font-weight: bold;
	font-variant: small-caps;
}

.TitlePageDesc p{
	color: #ccc8c4;
	font-size: 24px;
	font-family: Spectral;
	font-weight: bold;
}
