/*fonts*/
/*fonts are defined in the /css/fonts.css file, and hosted in the /css/fonts folder */

/* standard text */
  	.page {font-family: 'Libre Franklin', serif; font-size: 12px}
  	.page p {font-family: 'Libre Franklin', serif; font-size: 12px}
  	.page h1+p::first-line {font-variant: small-caps; font-size:14px;}
  	.page h1+p::first-letter {font-family:Pirata One; font-size: 150px; 
		background-image: linear-gradient(-50deg, #6e479c, #440a89, #6e479c);}   	
	.page a {color: #7237b3;}
  	.page link { color: #FF0000; } 

	.page ol{font-family: 'Libre Franklin', serif; font-size: 12px}
  
/* Basic Notes */
	.page .note {background-color: #FEFEFE;	
		border-image: url("images/assests/note border.png") 12 stretch;
		border-image-outset: 10px 0;
		border-width: 11px;}
  
/* descriptive notes */  
	.page .descriptive {
		background-color: #f3dcfa;
		border-image: url("images/assests/Descriptive note sides.png") 12 round;
		border-image-outset: 4px;
		font-family: 'Libre Franklin', serif; font-size: 12px; }
	.page .descriptive em {font-family: 'Libre Franklin', serif; font-size: 12px;}
	.page .descriptive strong {font-family: 'Libre Franklin', serif; font-size: 12px;} 

/* statblock changes */

	.page .monster {font-family: "Libre Franklin"; font-size: 12px;}
	.page .monster h2 {font-size: 23px;}
	.page .monster h3 {
		border-bottom: 2px solid #7237B3;
		font-family: "Libre Franklin";}
	.page .monster hr {background-image: url("images/assests/Stat Block Divider2.png")}
	.page .monster hr~:is(dl,p) {color: #6e479c }
	.page .monster dl {color: #6e479c;}
	.page .monster.frame {
	    background-color: #FAFBFC;
	    background-image: unset;
	    border-image: url("images/assests/Statblock border.png") 8;}
	.page .monster hr+table:first-of-type {color: #6e479c;}


/* class tables) */
 	.page .classTable {
		background-color: unset;} /*#FBE0FF;}*/
  	.page .classTable.frame { 
		border-image-source: url("images/assests/Creature statblock table 2.png");
		background-color: #FBE0FF;}
	.page .classTable.decoration::before {background-image: unset;} /*url("");}*/

 
/* Headings */
	.page h1 {color: #6e479c; font-family: 'Lustria', serif; font-size: 32px; font-variant: small-caps;}
	.page h2 {color: #6e479c; font-family: 'Lustria', serif; font-size: 24px; font-variant: small-caps;}
	.page h3 {color: #6e479c; border-bottom: 2px solid #7237B3; font-family: 'Lustria', serif; font-size: 18px; font-variant: small-caps; }
	.page h4 {color: #6e479c; font-family: 'Lustria', serif; font-size: 16px; font-variant: small-caps; }
	.page h5 {color: #6e479c; font-family: 'Lustria', san-serif; font-size: 14px;}
  
/* Tables */
	table { font-family: 'Libre Franklin', serif; font-size: 12px}
	table tr:nth-child(odd) td {color:white; background-color: #663799; font-weight: normal;}
	.page table em { font-family: 'Libre Franklin'; font-size: 12px}
	td { font-family: 'Libre Franklin'; font-size: 12px;
		vertical-align: middle;}
	th { font-family: 'Libre Franklin', serif; font-size: 12px;
		vertical-align: middle;}

/* footers */
	.page .pageNumber {
		font-family: Lustria;
		font-size: 15px;
		bottom: 20px;
		color: #6e479c;
		width: 44px;}

	.page .footnote{
		font-family: Lustria;
		font-size:14px;
		color:#6e479c;
		width: 300px;
		right: 55px;
		bottom: 40px;}

	.page:nth-child(even) .footnote{left:55px;}
	.page:after{ bottom:0px; height:60px; background-image: url("images/assests/page footer letter.png") }

/* centered text for feature calcs */
	.featureCalculation {
		text-align:center;
		margin-bottom: 10px;
		margin-top:10px;}
